article {
  width: calc(100% - 17rem);
  height: calc(100% - 3.5rem);
  float: right;
  padding: 1rem 2rem;
}
.card-view {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}
.main-content-head {
  margin-bottom: 1rem;
}
.content-view {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin-top: 1rem;
  height: calc(100% - 14rem);
}
h4 {
  font-weight: 600;
}
.content-view > div {
  background-color: white;
}
.item1 {
  grid-row: 1/4;
  grid-column: 1/3;
  box-shadow: 0 1px 4px 0 rgb(37 37 37 / 10%);
  padding: 1rem 2rem;
}
.item1:hover,
.item3:hover,
.item2:hover {
  box-shadow: 0 1px 4px 0 rgb(37 37 37 / 50%);
  cursor: pointer;
}
.item3 {
  grid-row: 2/4;
  grid-column: 3/4;
  box-shadow: 0 1px 4px 0 rgb(37 37 37 / 10%);
  padding: 1rem 2rem;
}
.item2 {
  box-shadow: 0 1px 4px 0 rgb(37 37 37 / 10%);
  padding: 1rem;
}
.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
}
.all-request {
  color: #0059fb;
  cursor: pointer;
}
.greaterThan,.arrow {
  color: #0059fb;
  cursor: pointer;
  padding-left: 1rem;
  font-weight: 700;
}
.greaterThan:hover,.arrow:hover {
  transform: translateX(5px);
}
.upcomingEvents {
  display: flex;
  align-items: center;
}
.Townhall-content {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}
.townhall-meeting {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}
.time {
  font-size: 0.7rem;
  font-weight: bold;
  color: black;
}
.date {
  color: #666666;
  font-size: 0.7rem;
}
.townhall {
  height: 3.5rem;
  width: 3.5rem;
}
h3 {
  font-weight: 600;
}
.holidayCard {
  display: flex;
  border-bottom: solid 1px #f3f4f8;
  align-items: center;
  padding: 0.5rem 0;
}
.card_img {
  background-color: rgba(0, 88, 250, 0.05);
  height: 3rem;
  width: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img_date {
  color: #0058fa;
  font-size: 1rem;
  font-weight: 600;
  font-family: Mulish;
}
.img_cont {
  color: #0058fa;
  font-size: 0.7rem;
}
.cont-item {
  padding-left: 1rem;
}
.cont_date {
  font-size: 0.7rem;
  color: #666666;
}
.cont_day {
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
}
.upcomingHolidays {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}
.item-scroll {
  overflow-y: scroll;
  height: 100%;
}
.item-scroll::-webkit-scrollbar {
  display: none;
}
.town-pro {
  width: 1.5rem;
  height: 1.4rem;
  border-radius: 50%;
  padding-right: 2px;
}
.wrap-town-pro {
  display: flex;
  align-items: center;
  padding-left: 5px;
  align-content: center;
}
.req-arrow{
  display: flex;
}

.bluecircle {
  background-color: #e4f1ff;
  color: #0059fb;
  font-size: 0.7rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  align-content: center;
  align-items: center;
}
.empList {
  overflow-y: scroll;
  height: calc(100% - 1.5rem);
}
.empList::-webkit-scrollbar {
  display: none;
}
