header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 4px 0 rgb(37 37 37 / 10%);
  align-items: center;
  height: 3.5rem;
  padding: 0.5rem 2.5rem .5rem 4rem;
  background-color: #ffff;
  top: 0;
  z-index: 2;
  position: sticky;
}
nav {
  width: 17rem;
  height: 100%;
  position: fixed;
  background-color: #ffff;
  box-shadow: 0 1px 4px 0 rgb(37 37 37 / 10%);
}

li {
  display: flex;
  min-height: 2.5rem;
  padding-left: 1.5rem;
  align-items: center;
  cursor: pointer;
  
}
li:hover{
  color: blue;
  font-weight: 900;
  background-color: rgba(0, 88, 250, 0.15);
}
/* li .title:hover{
  color: #0059fb;
} */
.nav-li{
  color: #3d4b5b;
}
#active {
  color: blue;
  font-weight: 900;
  background-color: rgba(0, 88, 250, 0.15);
}
#active .title {
  color: #0059fb;
}
ul {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.title {
  font-family: "Mulish", sans-serif;
  font-size: 0.8125rem;
  color: #3d4b5b;
}
.logo {
  height: 2rem;
}
.logo:hover{
  cursor: pointer;
}
a {
  display: flex;
  width: 100%;
  text-decoration: none;
  align-items: center;
}
.wrapper-profile {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.notify-icon {
  height: 2.5rem;
  cursor: pointer;
}
.img-content {
  display: flex;
  align-items: center;
}
.content {
  font-family: Mulish;
  width: 7rem;
  text-align: right;
  font-size: 14px;
}
.profile-icon {
  height: 2.4rem;
  width: 2.5rem;
  border-radius: 50%;
  margin-left: 0.5rem;
  object-fit: cover;
  cursor: pointer;
}
.maria {
  font-weight: 800;
  font-size: 1rem;
  cursor: pointer;
}
.admin{
  font-size: 1rem ;
  cursor: pointer;
}
.img-wid{
  min-width: 2.5rem;
}
.gologo{
  cursor: default;
}